body {
    background: #F6F6FA;
    padding: 40px 40px 40px 40px;
    font-family: 'Montserrat', sans-serif;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    background: #ffffff;
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

/* Main content */

.main-content {
    padding-left: 88px;
    padding-right: 40px;
    padding-bottom: 80px;
    box-sizing: border-box;
}

/* Sidebar */

.sidebar {
    background: #E0EBFE;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    width: 370px;
}

.sidebar-content {
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.contacts-title {
    color: #161D2A;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 8px;
}

.contacts-type {
    color: #161D2A;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 8px;
}

.contacts-link {
    color: #2979FF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
   
}

.contacts-item {
    margin-top: 0;
    margin-bottom: 4px;
}

.contacts-container {
    margin-bottom: 40px;
}

.icon-list {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 128px;
    list-style: none;
}

.icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 34px;
    height: 34px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #000000;
}

.icon-link:hover,
.icon-link:focus {
    fill: #1d00c3;
}

/* Skills container */

.skills-container {
    margin-bottom: 40px;
}

.skills-title {
    color: #161D2A;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
}

.skills-list {
    padding-left: 16px;
}

.skills-list-item {
    color: #161D2A;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.skills-container {
    margin-bottom: 40px;
}

.skills-title {
    color: #161D2A;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
}

.skills-list {
    padding-left: 16px;
}

.skills-list-item {
    color: #161D2A;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/* Main content*/

.my-profession {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    margin-top: 8px;
}

.main-name {
    color: #000;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    margin: 0;
    margin-top: 12px;
}

.my-description {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

}

.my-info {
    margin-bottom: 40px;
}

/* My projects */

.my-projects-title {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 8px;
}

.my-projects-item {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.my-projects-list {
    padding-left: 16px;
}

.my-projects-item-link {
    color: #005FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.my-projects-item-tech {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.my-projects-container {
    margin-bottom: 40px;
}

/* Work experience */

.work-experience-title {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 8px;
}

.work-experience-company {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 12px;
}

.company-name {
    color: #6D9BF5;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.work-experience-period {
    color: #A8A8A8;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-bottom: 8px;
}

.work-experience-period-separator {
    color: #000;
}

.work-experience-duties-list {
    padding-left: 16px;
}

.work-experience-duties-item {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.work-experience-container {
    margin-bottom: 12px;
}

/* Company 3 */

.education {
    margin-top: 40px;
}

.education-title {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
}

.education-university {
    color: #6D9BF5;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}

.education-profession {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
}

.education-period {
    color: #A8A8A8;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}

.education-period-separator {
    color: #000;
}

/* Company 4 */

.languages {
    margin-top: 40px;
}

.language-title {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
}

.languages-speak {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
}

.languages-level {
    color: #6D9BF5;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}